@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        width: 100%;
    }
    
    ul li{
        display: none;
    }
    .hambuger-menu-btn{
        display: block;
        color: aliceblue;
        margin-right: 16px;
    }

    .banner-content, .banner-image{
    width: 100%;
    /* border: 1px solid red; */
    }
    .banner-content-title{
        font-size: 36px;
        font-weight: 900;
        width: 75%;
    }

    .banner-content-description{
        max-width: 70%;
        margin: 28px 0;
    }
    .banner-btn-container{
        display: flex;
        justify-content: space-evenly;
    }
    .banner-btn{
        padding: 16px 16px;
        
    }
    /* ********************************** */
    /* main section syle start here*/
    .habits-card-conainer{
        flex-direction: column;
    }
    .habits-conent-title{
        font-size: 2rem;
        font-weight: 900;
    }
    .habits-card{
        margin-top: 40px;
    }
    .banner{
        margin-bottom: 1px;
    }
    /* main section syle end here*/
    /* **************************************** */


    /* ********************************************* */
    /* Run an Extra Mile Easily style start here*/
    .run-container{
        flex-direction: column;
        margin-top: 66px;
    }
    .run-content{
        width:74%;             
    }
    .run-content-title{
        font-size: 2rem;
    }
    .run-images{
        max-width: 74%;
    }
    .run-content-btn{
        max-width: 310px;
    }
    /* Run an Extra Mile Easily style end here*/
    /* ********************************************* */


    /* ******************************** */
    /* BMI Calculator stye start here */
    .bmi-title{
        font-size: 2rem;
    }
    .second-part-bmi{
        flex-direction: column;
    }
    .frist-box-part2-bmi{
        width: 100%;
    }
    /* BMI Calculator stye end here */
    /* ******************************** */


    /* *********************************************** */
    /* Meet Our Team section style start here */
    .meet-images-box{
        grid-template-columns: repeat(1, 1fr);
    }
    .meet-content-title{
        font-size: 2rem;
    }
    /* Meet Our Team section style end here */
    /* *********************************************** */


    /* *********************************************** */
    /* footer section style start here */
    .footer-content{
        flex-direction: column;
    }
    .foot-box1{
        margin-bottom: 30px;
    }
    .foot-box2, .foot-box3{
        margin-top: 30px;
    }
    .foot-box3{
        margin-bottom: 30px;
    }
/* *************************************** */


/* ****************************** */
    .second-box-part2-bmi{
        max-width: 354px;
    }
    .part2-bmi-title2{
        font-size: 1rem;
    }
    .part2-bmi-description{
        font-size: 0,9rem;
    }
    .bmi-calculator-container input,
    .bmi-calculator-container select{
    font-size: 10px;
    }
/* ************************************** */


/* *************************************** */
/* badg responsive style start here */

/* second badg style related */
.banner-badge-2{
    width: 145.91px;
    height: 74.09px;
    top: 60px;
    right: 7px;
}
.bdg-2-big-text{
    font-size: 30.24px;
    font-weight: 900;
    padding: 0;
}
.bdg-2-small-text{
    padding: 0;
}

/* frist badg style related */
.banner-badge-1{
    width: 170.74px;
    height: 72.58px;
    padding: 20px 23px;
    position: absolute;
    bottom: 250px;
    left: 11px;
}
.bdg-1-big-text{
    font-size: 18.14px;
}
.bdg-1-small-text{
    font-size: 12.1px;

}
/* ***************************** */


/* *************************** */
.plan-cards-container{
   flex-direction: column;
}
.card-box{
    color: #fff;
    max-width: 90%;
    margin-top: 20px;

}

}  
